@charset "UTF-8";
/* CSS Document */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}

.container {
	max-width: 600px;
	margin: 0 auto;
}

.tab {
	display: flex;
	justify-content: center;
	position: relative;
	top: 0;
	left: 0;
}

.tab-nav {
	padding: 10px 30px;
}

.tab-link {
	text-decoration: none;
	color: #232323;
	padding: 5px 25px;
	transition: .3s ease-out;
}

.tab-link:hover {
	color: #999999;
}

.tab-link-active {
	color: #FFF;
	background-color: #232323;
}
.tab-link-active:hover {
	color: #C1C1C1;
}

.tab-content {
	text-align: center;
	position: relative;
	top: 0;
	left: 0;
}

.tab-panel {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
}

.tab-panel-active {
	position: relative;
	padding: 25px;
	opacity: 1;
}